extends ../partials/header.pug
block main
    h1= title
    p Welcome to #{title}
    p This is the register page
    form(action=page method='POST')
        label(for='name') Name
        input(type='text' name='name' id='name' required)
        label(for='email') Email
        input(type='email' name='email' id='email' required)
        label(for='password') Password
        input(type='password' name='password' id='password' required)
        button(type='submit') Register