extends ../partials/head.pug
block content
  .header-wrapper
    a.header-wrapper-home(href='/') tayfa
    li.navbar
      a(href='/memes') wiki
      a(href='mailto:merits.septets_06@icloud.com') iletişim
  block main
  //- include ../partials/footer.pug
