extends ../partials/header.pug

block main

  div.options-container
    div.option-login
      h2 Login
      a.button-login(href='/login') Login

    div.option-register
      h2 Register
      a.button-register(href='/register') Register
