#search-form {
  position: relative;
}

#search-form input {
  width: 100%;
  padding: 12px 40px 12px 16px;
  font-size: var(--font-size-medium);
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius-md);
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

#search-form input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  outline: none;
}

#search-form button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-color);
  transition: color 0.3s ease;
}

#search-form button:hover {
  color: var(--primary-color);
}

.memes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing);
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--page-vertical-padding) 0;
}

.meme {
  position: relative;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius-md);
  padding: var(--page-vertical-padding);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - var(--spacing));
  min-height: 350px;
  text-align: center;
  opacity: 0.8;
}

.meme img {
  max-width: 100%;
  border-radius: var(--border-radius-sm);
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #cc0000;
}

.edit-button {
  background-color: #ffcc00;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #e6b800;
}

.meme-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

#edit-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius-md);
  padding: var(--page-vertical-padding);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0.9;
}

#edit-form div {
  margin-bottom: var(--spacing);
}

#edit-form label {
  font-size: var(--font-size-medium);
  color: var(--text-color-highlight);
  display: block;
  margin-bottom: 0.5rem;
}

#edit-form input,
#edit-form textarea,
#submit-edit-form-button {
  width: 100%;
  font-size: var(--font-size-medium);
  padding: var(--button-padding);
  border-radius: var(--border-radius-sm);
}

#edit-form input,
#edit-form textarea {
  border: 1px solid var(--text-color);
}

#submit-edit-form-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
}

#edit-form button:hover {
  background-color: var(--primary-bg-color);
}

#toggle-upload-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-size: var(--font-size-medium);
  padding: var(--button-padding);
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  margin: var(--spacing) auto;
  display: block;
  position: fixed;
  bottom: var(--page-vertical-padding);
  right: calc(var(--page-horizontal-padding) + var(--spacing));
  z-index: 10;
}

#toggle-upload-button:hover {
  background-color: var(--primary-bg-color);
}

.hidden {
  display: none;
  opacity: 0.5;
}

#upload-form {
  position: absolute;
  top: calc(var(--page-vertical-padding) + var(--navbar-button-height) + 2 * var(--navbar-padding));
  right: var(--page-horizontal-padding);
  width: 300px;
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius-md);
  padding: var(--page-vertical-padding);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10;
  opacity: 0.8;
}

#upload-form div {
  margin-bottom: var(--spacing);
}

#upload-form label {
  font-size: var(--font-size-medium);
  color: var(--text-color-highlight);
  display: block;
  margin-bottom: 0.5rem;
}

#upload-form input,
#upload-form textarea,
#upload-form button {
  width: 100%;
  font-size: var(--font-size-medium);
  padding: var(--button-padding);
  border-radius: var(--border-radius-sm);
}

#upload-form input,
#upload-form textarea {
  border: 1px solid var(--text-color);
}

#upload-form button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
}

#upload-form button:hover {
  background-color: var(--primary-bg-color);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--page-vertical-padding);
}

.pagination-button {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.pagination-button:hover {
  background-color: var(--primary-dark);
}

@media screen and (max-width: 1000px) {
  .meme {
    width: calc(50% - var(--spacing));
  }

}

@media screen and (max-width: 690px) {
  .meme {
    width: 100%;
  }

  #upload-form {
    width: 100%;
    top: calc(var(--page-vertical-padding) + var(--navbar-button-height) + 2 * var(--navbar-padding));
    right: 0;
    padding: var(--page-vertical-padding) var(--page-horizontal-padding);
  }
}
