:root {
    --body-wrapper-height: 80vh;
    --body-wrapper-bg-color: #387478;
    --button-bg-color: #629584;
    --input-bg-color: #E2F1E7;
    --button-text-color: #fff;
    --text-color: #fff;
    --button-width: 6rem;
  }
  